################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ychet/FileContentIndex/13d6b662-74c9-4531-95f7-ad044e2abef2.vsidx
/.vs/ychet/FileContentIndex/872e405f-8da7-4a56-80b9-6f8b43dfeaf6.vsidx
/.vs/ychet/FileContentIndex/b87e3cce-1f81-4ab3-87d2-16a6f623294a.vsidx
/.vs/ychet/FileContentIndex
